<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% block title %}
    {% endblock %}
    
    
</head>
<body>
    <header class="header-nav">
        <nav class="nav">

            <a class="nav-logo" href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
            <div class="nav-input">
                <input class="nav-input-box">
                <img class="nav-input-logo" src="{% static 'img/icono_buscar.png' %}"> 
            </div>
            <a class="nav-user">
                <h class="nav-user-letra">J</h>
            </a>
        </nav>
        <div class="nav-decoracion">

        </div>
    </header>
    
    {% block content %}
    {% endblock %}

</body>
</html>