{% extends "base.html" %}
{% load static %}


{% block title%}
<title>Web de encuestas</title>
{% endblock %}

{% block content%}
<section class="cont">
    <h1 class="cont-title">
        Crea tus encuestas de forma rápida y sencilla
    </h1>
    <div class="cont-botones">
        <a href='cuestionario/crear' class="cont-botones-boton">
            crear
        </a>
        <a href='cuestionario/responder' class="cont-botones-boton">
            responder
        </a >
        <a href='cuestionario/actualizar' class="cont-botones-boton">
            actualizar
        </a>
        <a href='cuestionario/eliminar' class="cont-botones-boton">
            eliminar
        </a>
    </div>
    
</section>
{% endblock %}