{% extends "base.html" %}

{% block title%}
<title>Web de encuestas</title>
{% endblock %}

{% block content%}
<section class="cont">
    <h1 class="cont-title">
        Crea tus encuestas de forma rápida y sencilla
    </h1>
    <div class="cont-botones">
        <button class="cont-botones-boton">
            crear
        </button>
        <button class="cont-botones-boton">
            responder
        </button >
        <button class="cont-botones-boton">
            actualizar
        </button>
        <button class="cont-botones-boton">
            eliminar
        </button>
    </div>
    
</section>
{% endblock %}